@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.anim-fadein {
  opacity: 0;
  animation: fadein 2s;
  animation-fill-mode: forwards;
}

.anim-stagger-1 { animation-delay: 1s; }

.anim-stagger-2 { animation-delay: 2s; }

.anim-stagger-3 { animation-delay: 3s; }
