h1 {
  font-family: $base-header-font-family;
  font-weight: $font-weight-extralight;
  font-size: 3em;
  color: $color-accent;
  letter-spacing: 0.11;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 {
  font-family: $base-body-font-family;
  font-weight: 200;
  font-size: 1.3em;
  line-height: 1.6em;
  color: $color-dark-gray;
  letter-spacing: 0.11;
  margin: 5px 0 10px 0;
  padding: 0;
  text-decoration: none;
}

h3 {
  font-family: $base-serif-font-family;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.3em;
  color: $color-dark-blue;
  letter-spacing: 0.11;
  margin: 0;
  padding: 0;
  text-decoration: none;
  margin-bottom: 30px;

  small {
    font-family: $base-serif-font-family;
    font-weight: 200;
    font-size: 0.6em;
    line-height: 1em;
    color: $color-light-blue;
    letter-spacing: 0.11;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 5px;

    a {
      font-family: $base-serif-font-family;
      font-weight: 200;
    }
  }
}

h4 {
  font-family: $base-font-family;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.6em;
  color: $color-mid-gray;
  letter-spacing: 0.11;
  margin: 0 0 20px 0;
  padding: 0;
  text-decoration: none;
}

p, ol, ul {
  font-family: $base-body-font-family;
  font-weight: $font-weight-light;
  font-size: 1em;
  line-height: 1.5em;
  color: $color-mid-gray;
  letter-spacing: 0.11;
  margin: 0 0 15px 0;
  padding: 0;
  text-decoration: none;
}

small {
  font-family: $base-body-font-family;
  font-weight: $font-weight-light;
  font-size: 0.8em;
  line-height: 1.5em;
  color: $color-mid-gray;
  letter-spacing: 0.11;
  margin: 0 0 30px 0;
  padding: 0;
  text-decoration: none;
  display: block;
}

hr {
  border: 0;
  height: 1px;
  background-color: $color-light-gray;
}

.mono {
  font-family: $base-mono-font-family;
  font-size: 1em;
  line-height: 1.5em;
  color: $color-mid-gray;
  letter-spacing: 0.11;
  margin: 0 0 15px 0;
  padding: 0;
  text-decoration: none;
}

a {
  font-family: $base-body-font-family;
  font-weight: $font-weight-light;
  font-size: 1em;
  line-height: 1.5em;
  color: $color-light-blue;
  text-decoration: none;
  transition: all $base-animation-time;

  &:hover {
    color: darken($color-light-blue, 20%);
    transition: all $base-animation-time;
  }
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;

  p {
    font-family: $base-serif-font-family;
    font-weight: $font-weight-regular;
    font-size: 1.6em;
    line-height: 1.4em;
    color: $color-accent;
    letter-spacing: 0.11;
    margin: 0 0 10px 0;
    padding: 0;
    text-decoration: none;
  }

  cite {
    font-family: $base-body-font-family;
    font-weight: $font-weight-light;
    font-size: 1em;
    line-height: 1.4em;
    color: $color-dark-gray;
    letter-spacing: 0.11;
    margin: 0 0 35px 0;
    padding: 0;
    text-decoration: none;
    display: block;
    text-align: right;

    &:before {
      content: "- ";
    }
  }
}

/**
 * Modifiers
 */
.text-left {
  text-align: left;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-margintop {
   margin-top: 5px;
}

.text-white {
  color: $color-white;
}

.text-accent {
  color: $color-accent;
}

.text-darkblue {
  color: $color-dark-blue;
}

.text-dark {
  color: $color-dark-gray;
}

.text-shadow {
  text-shadow: $base-box-shadow;
}

.text-left-mobile {
  @media only screen and (max-width: $mq-tablet) {
    text-align: left;
  }
}
