/**
 * Colors
 */
$color-black: #000;
$color-light-gray: #F2F2F2;
$color-mid-gray: #BFBFBF;
$color-dark-gray: #282828;
$color-white: #fff;

$color-light-blue: #91B3BB;
$color-dark-blue: #2B4050;
$color-tan: #E6E1DF;
$color-green: #2fab4a;
$color-red: #a72925;
$color-orange: #f47920;

$color-accent: $color-light-blue;

// Off-brand colors
$color-purple: #9013FE;
$color-teal: #50E3C2;

/**
 * Layout
 */
$max-width: 960px;
$grid-gutter-width: 40px;

/**
 * Typography
 */
$base-font-family: 'Open Sans', sans-serif;
$base-serif-font-family: 'Sanchez', serif;

$base-header-font-family: $base-serif-font-family;
$base-body-font-family: $base-font-family;

$font-weight-extralight: 300;
$font-weight-light: 400;
$font-weight-regular: 600;
$font-weight-bold: 700;

/*
 * Shadows
 */
$base-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

/**
 * Borders
 */
$base-border-radius: 7px;

/**
 * Animations
 */
$base-animation-time: 200ms;

/**
 * Breakpoints
 */
$mq-phone: 420px;
$mq-tablet: 970px;
